.center {
    margin: auto;
    width: 60%;
    height: 23px;
    background-color:white;
    padding: 20px;
  }
  
.center1 {
    margin: auto;
    width: 60%;
    height: 80px;
    background-color:red;
    padding: 20px;
  }
  .center2 {
    margin: auto;
    width: 60%;
    height: 350px;
    background-color:green;
    padding: 20px;
  }
  .center3 {
    margin: auto;
    width: 60%;
    height:0.01px;
    background-color:blue;
    padding: 20px;
  }
  
  div.absolute {
    position: absolute;
    top: 140px;
    right: 520px;
    width: 80px;
    height: 40px;
    border: 3px solid #73AD21;
  
  }
  div.absolute1 {
    position: absolute;
    top: 140px;
    right: 640px;
    width: 80px;
    height: 40px;
    border: 3px solid #73AD21;
  
  }
  div.absolute2 {
    position: absolute;
    top: 140px;
    right: 760px;
    width: 80px;
    height: 40px;
    border: 3px solid #73AD21;
  
  }
  div.absolute3 {
    position: absolute;
    top: 140px;
    right: 880px;
    width: 80px;
    height: 40px;
    border: 3px solid #73AD21;
  
  }
  div.absolute4 {
    position: absolute;
    top: 140px;
    right: 1000px;
    width: 80px;
    height: 40px;
    border: 3px solid #73AD21;
  
  }
  div.absolute5{
    position: absolute;
    top: 76px;
    right: 1010px;
    width: 76px;
    height: 10px;
  }
  div.absolute6{
    position: absolute;
    top: 90px;
    right: 870px;
    width: 130px;
    height: 10px; 
  }
  
  div.absolute7{
    position: absolute;
    top: 200px;
    right: 1000px;
    width: 76px;
    height: 10px;
  }
  div.absolute8{
    position: absolute;
    top: 213px;
    right: 750px;
    width: 250px;
    height: 10px;
  }
  div.absolute9{
    position: absolute;
    top: 290px;
    right: 300px;
    width: 770px;
    height: 10px;
  }
  div.absolute10{
    position: absolute;
    top: 410px;
    right: 824px;
    width: 270px;
    height: 10px;
  }
  div.absolute11{
    position: absolute;
    top: 410px;
    right: 547px;
    width: 270px;
    height: 10px;
  }
  div.absolute12{
    position: absolute;
    top: 410px;
    right: 270px;
    width: 270px;
    height: 10px;
  }